


h1 {
	font-family: 'Permanent Marker', cursive;
    color: black;
    padding-left: 30px;

}

h3 {
  font-family: font-family: 'Patrick Hand', cursive;
  color: black;
  padding-left: 30px;
}

button {
  color: black;
  padding-left: 30px;
  padding-right: 10px;


}
#container{
  /*background-image: url("IMG_5847.m4v");*/
  height: 100px; 
  width: 500px;
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    padding: 20px;
    /*opacity: 0.8;*/
  
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}
 #content{
    position: fixed;
   /* bottom: 0;*/
    background: rgba(253, 254, 254, 0.9);
    color: #FDFEFE;
   /* width: 200px;*/
    padding: 20px;
    /*height: 150px;*/
    z-index: 1;


} 

#results{
  z-index: 2;
  top: 0;
  padding-left: 20px;
}
h5 {
  font-family: font-family: 'Patrick Hand', cursive;
  color: black;


}
#container2{
  background-image: url("IMG_5846.m4v");
  height: 500px; 
  width: 1000px;
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/

}
#content2{
    position: fixed;
    top: 0;
    background: rgba(253, 254, 254, 0.5);
    color: #FDFEFE;
    width: 310px;
    padding: 30px;
    height: 570px;
    z-index: 1;
}

#content3{
    position: fixed;
    right: 5px;
    top: 0vw;
    background: rgba(253, 254, 254, 0.5);
    color: #1C2833;
    width: 300px;
    padding: 30px;
    height: 500px;
    z-index: 1;

  }
    




